services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_development
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: bash -lc "bundle exec rails s -b 0.0.0.0 -p 3000"
    volumes:
      - ./backend:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/app_development
      DATABASE_URL_TEST: postgres://postgres:postgres@db:5432/app_test

volumes:
  pgdata: